.quicksand-scootsfont {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.root {
  --primary: #20838d;
  --secondary: #DB7A57;
  --accent1: #b9fff7;
  --accent2: #FFDDD2;
  --accent3: #EDF6F9;
  
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }



  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: aliceblue;
  }

  #header-content  {
    background-color: #FFDDD2;
  }

  h1  {
    color: #20838d;
    text-align: left;
    font-size: 60px;
    font-style: italic;
    padding: 30px;
  }

  h2 {
    color: #20838d;
    background-color: #FFDDD2;
    padding: 10px;
  }

  h3 {
    color: #20838d;
    padding: 10px;
  }
  
  .active-nav-item {
    font-weight: bold;
  }
  
  .navbar ul {
    margin-right:140px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    font-size: 2rem;
    font-weight: 400;
    
  }
  
  .navbar .nav-toggle {
    display: flex;
  }
  
  .navbar a {
    padding: 1rem;
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    display:inline-block;
  }
  
  .navbar a:visited {
    color: #000;
    font-weight: 600;
  }
  
  .navbar a:hover {
    background: #89A5B6ff;
  }
  
  .hero {
    justify-self: center;
    position: relative;
  }

  #hero-img {
    width: 100%;
    height: auto;
    justify-self: center;
    position: relative;
  }

  .overlay-text {
    opacity: 100%;
    text-shadow: #20838d 5px 5px;
    background-color: #DB7A57;
    position: absolute;
    top: 15%;
    left: 1050px;
    margin-right: 120px;
    padding: 10px;
    font-size: 80px;
    color: #FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
  }

  #call-to-action {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    position:relative;
    justify-content: center;

  }
  #beach-boat {
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
    position: relative;
    justify-content: center;
  }

  .main-home img {
    
    box-shadow: #DB7A57 2px 5px 10px;
    border-radius: 8px;
    position: absolute; 
  }

  #rocky-coastline {
    margin: 50px 200px;
    left: 50px;
  }

  .main-home p {
    color:#20838d;
    font-size: 30px;
    background-color: #b9fff7;
    box-shadow: #DB7A57 2px 5px 10px;
    font-style: italic;
    position: absolute;
    border-radius: 20px;
  }

  #explore {                     /* ----1st paragraph -----*/
    margin-bottom: 200px;
    margin-top: 120px;
    padding: 30px;
    top: 60px;
    left: 750px;
  }

  #exploring {                   /* ----2nd paragraph -----*/
    padding: 25px;
    margin-top: 420px;
    left: 200px;
  }

  #boat-on-beach {
    margin-top: 200px;
    left: 1000px; 
  }

  .reserve {
    color:#20838d;
    background-color: #FFDDD2;
    margin-left: 30%;
    margin-top: 20px;
    text-decoration: underline;
  }

  #rental-desc {
    grid-column: 1/4;
    grid-row: 3;
    display: flex;
    position:relative;
    justify-content: center;
  }

  #terminal  {
    margin-top: 400px;
    left: 30px;
    position: absolute;
  }

  #terminal-p, #ferry-p, #convenience, #party-size {
    background-color: aliceblue;
    box-shadow: #DB7A57 2px 5px 10px;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
  }

  #terminal-p {
    margin-top: 750px;
    left:130px;
  }
  
  #ferry {
    margin-top: 75px;
    left: 850px;
  }

  #ferry-p {
    margin-top: 420px;
    left: 1000px;
  }

  #convenience {
    font-size: 1.5rem;
    color:#20838d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
  }

  #party-size {
    margin-left: 350px;
    margin-top: 520px;
  }

  .main-weather {
    grid-column: 1/2;
    grid-row: 3;
  }

  .weather-info, p {
    grid-column: 1/2;
    grid-row: 3;
    margin-left: 20px;
    
  }

  #weather-icon3 {
    background-color:skyblue;
    border-radius: 6px;
    margin-left: 20px;
  }

  figcaption {
    margin-left: 35px;
  }



  /*---------Rentals------------*/
  #h2rental {
    margin-top: 20px;
  }








  /*----------Reservations--------*/
  .services {
    display: flex;
   padding-left: 150px;
   padding-top: 50px;
    background-color: #b9fff7;
   margin: 30px 80px;
  }


  #service-list {
    list-style-type: none; 
  }
