.quicksand-scootsfont {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.root {
  --primary: #20838d;
  --secondary: #E29578;
  --accent1: #97eae1;
  --accent2: #FFDDD2;
  --accent3: #EDF6F9;
  
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }



  .main-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #header-content  {
    background-color: #FFDDD2;
  }

  h1  {
    color: #20838d;
    text-align: left;
    font-size: 60px;
    font-style: italic;
    padding: 30px;
  }

  h2 {
    color: #20838d;
    justify-self: center;
    background-color: #FFDDD2;
    padding: 10px;
  }
  
  .active-nav-item {
    font-weight: bold;
  }
  
  .navbar ul {
    margin-right:140px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    font-size: 2rem;
    font-weight: 400;
    
  }
  
  .navbar .nav-toggle {
    display: flex;
  }
  
  .navbar a {
    padding: 1rem;
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    display:inline-block;
  }
  
  .navbar a:visited {
    color: #000;
    font-weight: 600;
  }
  
  .navbar a:hover {
    background: #89A5B6ff;
  }
  
  .hero {
    justify-self: center;
    position: relative;
  }

  #hero-img {
    width: 100%;
    height: auto;
    justify-self: center;
    position: relative;
  }

  .overlay-text {
    opacity: 80%;
    text-shadow: #20838d 5px 5px;
    background-color: #E29578;
    position: absolute;
    top: 15%;
    left: 1050px;
    margin-right: 120px;
    padding: 10px;
    font-size: 80px;
    color: #FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
  }

  #weather-cozumel {
    grid-column: 1/2;
  }

  #place, #temp, #humidity, #weather-icon3 {
    grid-column: 1/2;

    
  }

  #weather-icon3 {
    background-color:#97eae1;
    border-radius: 6px;
  }

  /*---------Rentals------------*/
  #h2rental {
    margin-top: 20px;
  }








  /*----------Reservations--------*/
  .services {
    display: flex;
   padding-left: 150px;
   padding-top: 50px;
    background-color: #97eae1;
   margin: 30px 80px;
  }


  #service-list {
    list-style-type: none; 
  }
