.quicksand-scootsfont {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.root {
  --burnt-sienna: #E48964ff;
  --battleship-gray: #857C66ff;
  --celestial-blue: #5B94BAff;
  --hookers-green: #518680ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  h1  {
    color: #518680ff;
    text-align: left;
    font-size: 48px;
    font-style: italic;
    padding: 30px  20px;
  }

  #header-content {
    background-color: rgb(232, 227, 218);
  }



  .navbar {
    color: #E48964ff;
    position: relative;
    margin-inline-start: 0;
   
  }
  
  .active-nav-item {
    font-weight: bold;
  }
  
  .navbar ul {
    margin-right:140px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .navbar .nav-toggle {
    display: flex;
  }
  
  .navbar a {
    padding: 1rem;
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    display:inline-block;
  }
  
  .navbar a:visited {
    color: #000;
    font-weight: 600;
  }
  
  .navbar a:hover {
    background: #89A5B6ff;
  }
  
  .hero {
    max-width: 100%;
    justify-self: center;
  }
