
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
} 

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color:rgb(23, 23, 246);
  display: block;
  text-align: center;

}

h2 {
  color: rgb(23, 23, 246);
  margin: 0 0 1rem 0;
	 border-bottom: 1px solid #bbb;
   padding-top: 1rem;
}

.birthdate {
  margin: 0;
}

.birthplace {
 margin: 0;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  border: 1px solid rgb(24, 185, 185);
 padding: 10px;
 background-color: #eee;

}

section {
  margin: 0.1rem;
  padding: 0.2rem; 
  background-color: rgb(202, 242, 242);
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section p {
  margin: 0;
  padding-bottom: 10px;
} 

img {
  width: auto;
	max-width: 340px;
  box-shadow: 0 0 30px #777;
  height: 220px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}

