@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');
:root {
  --primary-color: #054A91;
  --secondary-color: #81A4CD;
  --accent1-color: #F17300;
  --accent2-color: #DBE4EE;
}
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  * {
    box-sizing: border-box;
    padding: 0;

  }
#content {
    max-width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
header {
    background-color: #054A91;
    margin: 0;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 3%;
}
body {
    max-width: 100%;
    font-family: "Lato";
    background-color: white;
  }
#hero-box {
    grid-column:span;
}
.hero {
  position: relative;
  width: 98vw;
  height: auto;
  /*overflow: hidden; */
}
.hero img {
  width: 98%; 
  height: auto;
  margin-left: 18px;
} 
.hero-label {
  position: absolute;
  top: 20px; 
  left: 20px; 
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}
.responsive-image {
  max-width: 100%; 
  height: auto;
}
.overlay-text {
  position: absolute; 
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 24px; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
}
footer {
  background-color: #F17300;
  text-align: center;
  font-weight: bold;
  padding: 1em;
  border: 3px solid #054A91;
}
header, main, footer {
  grid-column: 1/5;
  margin: 1rem auto;
}
.main1 {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

#hero-msg {
  color: #054A91;
  display: flexbox;
  max-width: fit-content;
  box-shadow: #054A91 0 1px 5px;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  font-size: 1.3rem;
}

#hero-msg p {
  text-align: center;
}

#hero-msg .join-now {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
  background-color: #81A4CD;
}


.call-to-action {
  text-align: center;
} 

h2, h3 {
  color: #054A91;
  padding: 10px;
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
}

#events-weather-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 60px 40px;
}

#current-events, #chamber-weather {
  display: flexbox;
  width: 400px;
  height: 600px;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding-bottom: 15px;
}

#current-events h4 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

#see-more {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #81A4CD;
}

.join-now:visited {
  color:black;
}

#forecastContainer {
  display: flexbox;

}

#spotlight {
  display: flexbox;
  width:600px;
  height: 400px;
  text-align: center;
  box-shadow: #054A91 0 1px 5px;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  padding: 10px;
}

#spotlight h4 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

#cantrell {
  border-radius: 6px;
  margin-top: 5px;
}

#modeButton {
  background:#81A4CD;
  border: none;
  }

#mode {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 3rem;
	cursor: pointer;
	font-size: 1.5rem;
  background: 0;
}

.dark-mode {
	background-color: #000;
	color: #fff;
	border-color: #eee; 
}

.navbar {
  background:#81A4CD;
  color: #ffffff;
  position: relative;
  border: 2px solid #F17300;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar .nav-toggle {
  display: flex;
}

.navbar a {
  padding: 1rem;
  margin: 0 50px;
  color:#ffffff;
  text-decoration: none;
  display:inline-block;

}

.navbar a:visited {
  color:black;
  font-weight: 600;
}

.navbar a:hover {
  background:#F17300;
}

.navbar .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  display: none;
}

.navbar .hamburger svg {
  stroke:#F17300;
  background: #fff; 
}

.navbar .hamburger .icon-close {
  display: none;
}

@media screen and (max-width: 650px) {
  .navbar.open ul {
      display:block;
  }

  .navbar.open .nav-toggle {
      display: block;
  }

  .navbar.open a {
      display: block;
  }
  .navbar .nav-toggle {
      display: none;
 } 

 .navbar .hamburger {
    display: block;
 }

 .navbar .hamburger .icon-open {
      display: block; 
 }

 .navbar .hamburger .icon-close {
    display: none;
 }

 .navbar.open .hamburger .icon-open {
    display: none;
 }

 .navbar.open  .hamburger .icon-close {
      display: block;
 } 
}

.card {                               /*   discover page */
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-top: 40px;
}

#card1, #card2, #card3 {              /*   discover page */               
  box-shadow: #054A91 0 1px 5px;
  padding: 12px;
  margin: 10px;
  text-align: center;
  border-radius: 6px;
}

h3 {
  display: block;
}

.sidebar {             /*   discover page */
 grid-column: 1/2;
  font-size: larger;
  color: #054A91;
  border: 2px solid #F17300;
    border-radius: 6px;
    margin: 2px 10px;
    background-color: rgb(250, 246, 246);
   
}

 .list1, .list2, .list3 {                  
  list-style: none;
  color:#054A91;
  text-align: left;

}

.dark-mode .list {
  color: #ffffff;
}

.gallery {              /*   discover page */
  display: flex;
  flex-wrap: wrap;
  padding-left: 12%;
  gap: 40px;
  max-width: 98%;
  margin: auto;
  grid-column: 2/5; 
}


.image-container {
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
}
.image-container img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.overlay {
  position: absolute;
 margin-left: 13%;
  transform: translate(-50%, -50%); 
  color: #FFFFFF; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
  opacity: 0;
  transition: opacity 0.3s; 
}

.image-container .overlay {
  opacity: 1; 
}
 #container-visits {                   /*   discover page */
  background-color:#054A91;
  border-radius: 6px;
  box-shadow: 5px 5px 10px #81A4CD;
  height: 20px;
  width: 300px;
  margin: auto;
  
 }

 .v-label {
 color:#F17300;
 margin-left: 75px;

 }
 .visits {                          /*   discover page */
  color:#F17300;
  margin: 0;
 }

.lazy {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: 0.5s; 
}

.sites {                                 /*   discover page */
  border:2px solid #054A91;
  border-radius: 8px; 
  transition: transform .5s;
  box-shadow: 5px 5px 10px #81A4CD;
}

.sites:hover {
  opacity: .6;
  transform: scale(1.1);
}


h4 {                     
  color: #054A91 ;
}

h4  .dark-mode {
  color: #FFFFFF;
}

.visit .dark-mode {
  color: #FFFFFF;
}

.container {                         /*   discover page */
  border: 3px solid #054A91;
  padding-left: 10px;
  margin-left: 10px;
}

.gallery img {
  width: 98%;
  background: #000;
  animation: fade 8s;
}
/*---------------FORM-----------------*/
.sign-up {
  color:#F17300;
  background-color: #054A91;
  margin-top: -1rem;
}

.main-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.join {
  display: inline-block;
  grid-column: 1/2;
  margin-left:100px;
}

.contact {
  margin-left: 170px;
}
.join fieldset {
  display: block;
  color: #054A91;
  padding-top: 10px;
  margin: 10px;
  background-color: rgb(250, 246, 246);
}

.join legend {
  font-size: larger;
  padding: 0 .5rem;
}

.join input [type="text"],
.join input [type="tel"],
.join textarea {
margin: 5px;
height: 44px;
border-radius: 6px;
font-weight: bolder;
width: 90%;
max-width: 400px;
appearance: none;
}

.join label {
  display: block;
  padding-top: 1rem;
  color: #054A91;
}

.join div {
  padding-top: 1rem;
}

input[type="radio"] {
  display: inline-block;
  margin-top: 10px;
  margin-right: 6px;
}

.join #button {
  margin-top: 10px;
  height: 44px;
  border-radius: 6px;
  background-color:#054A91;
  color: #fff;
  width: 100%;
  max-width: 400px;
}
.required {
  color: rgb(219, 13, 13);
}
 .membership {
  display: inline-block;
  grid-column: 2/3;
  background-color: rgb(250, 246, 246);
 }
 .membership h2 {
  margin-left: 170px;
  margin-bottom: 20px;
 
 }
 .membership h3 {
  text-align: center;
 }
 .membership h4 {
  margin-left: 20px;
 }

 .membership ul li {
 color:#054A91;
 list-style: square;
 
 }

@keyframes fade {
 0% {
  opacity: 0;
 }
 
 100% {
  opacity: 1;
 }
}
.fade-in:nth-child(1) {
  animation-delay: 0.5s; 
}

.fade-in:nth-child(2) {
  animation-delay: 2s; 
}

.fade-in:nth-child(3) {
  animation-delay: 4s; 
}

.fade-in:nth-child(4) {
  animation-delay: 6s; 
}

.fade-in:nth-child(5) {
  animation-delay: 8s; 
}

.fade-in:nth-child(6) {
  animation-delay: 10s; 

}

.fade-in:nth-child(7) {
  animation-delay: 12s; 

}

.fade-in:nth-child(8) {
  animation-delay: 14s; 

}

@media screen and (max-width: 650px) {
  body {
    font-size: 14px; 
  }

  header h1 {
    font-size: 28px; 
  }

  .navbar ul {
    flex-direction: column; 
    align-items: center; 
  }

  #hero-msg {
    padding: 20px; 
  }

  .container {
    padding: 10px; 
  }
  .sidebar {
    grid-column: 1 / -1;
    margin: 10px 0;
    font-size: medium;
  }
  .gallery {
    grid-column: 1 / -1;
    gap: 10px;
  }
  .main-form {
    gap: 10px;
  }
  .membership, .join {
    width: 100%;
  }
  .membership h2 {
    font-size: 1.5rem;
  }
  .membership h3 {
    font-size: 1.2rem;
  }
  .membership h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 860px) {
  body {
    font-size: 16px;
  }

  header h1 {
    font-size: 32px; 
  }

  .navbar ul {
    flex-direction: row; 
    justify-content: space-between; 
  }
  .main-form {
    display: block;
  }
  .join, .membership {
    grid-column: 1 / -1;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .membership h2, .membership h3, .membership h4 {
    margin-bottom: 0%;
    text-align: center;
  }
  .membership {
    padding: 1rem;
  }
}
/*------------Directory-------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.directory {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 950px;
	background-color: #fff;
	font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 2px solid #054A91; 
  padding: 5px; 
  border-radius: 5px;
}

h3.mdirectory {
  text-align: center;
}

article h4 {
  font-weight: 700;
  font-style: italic;
  padding-top: .5rem;
  padding-bottom: .5rem;

}

article p  {
  padding-top: .3rem;
  font-weight: 600;
} 

#displayContainer p.websiteURL {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%; 
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color:rgb(152, 204, 249);
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 3px;
	align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color:rgb(152, 204, 249);
}

.grid section {
	text-align: center;
  margin: .6rem;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.address1, .address2, .phone, .websiteURL {
  margin: 0;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section:nth-child(even) {
	background-color:#DBE4EE;
}

 

