@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');
:root {
  --primary-color: #054A91;
  --secondary-color: #c1dbf8;
  --accent1-color: #F17300;
  --accent2-color: #DBE4EE;
}

.lato-regular, .lato-bold {
  font-family: "Lato", sans-serif;
}

  .lato-regular {
    font-weight: 400;
  }

  .lato-bold {
    font-weight: 700;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .border-box, #sidebar2, #card1, #card2, #card3, #card4, .sidebar2, #weather-icon, .overlay-text {
    border-radius: 6px;  
  }

   #card1, #card2, #card3, #card4, .gallery img, .sites, #hero-msg, #spotlight-home {
    box-shadow: 0 1px 5px var(--primary-color);
  }
  .bg-primary, .join #button {
    background-color: #054A91;
  }
 
  .sidebar2, #sidebar2, #hero-msg, h2, h3, h4, .list1, .list2, .list3, .list4, .join fieldset {
    color:#054A91;
  }
  
#content {
    max-width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header {
    background-color: #054A91;
    margin: 0;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 3%;
}

body {
    max-width: 100%;
    font-family: "Lato";
    background-color: white;
  }
#hero-box {
    grid-column:span;
}
.hero {                           /* holds hero image */
  position: relative;
  width: 98vw;
  height: auto;
}
.hero img {
  width: 98%; 
  height: auto;
  margin-left: 18px;
} 
.hero-label {
  position: absolute;
  top: 20px; 
  left: 20px; 
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}
.responsive-image {
  max-width: 100%; 
  height: auto;
}
.overlay-text {
  position: absolute; 
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 24px; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  text-align: center; 
} 
footer {
  background-color: #F17300;
  text-align: center;
  font-weight: bold;
  padding: 1em;
  border: 3px solid #054A91;
}
header, main, footer {
  grid-column: 1/5;
  margin: 1rem auto;
}
.main1 {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

#banner  {
  background-color:#eaebed;
  color:#000;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
}

.close-btn  {
  cursor: pointer;
  color: red;
}

#hero-msg {                    /* Includes welcome, mission, vision, join button  */
  background-color: #eaebed;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  font-size: 1.3rem;
}

#hero-msg p {
  text-align: center;
}

#hero-msg .join-now {             /*  join link */
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
  background-color: #e0e8f0;
}

.join-now {
  padding: .5rem;
}

.call-to-action {                 /* Welcome message */
  text-align: center;
} 

h2, h3 {
  padding: 10px;
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
}

#events-weather-container {                     /* holds current events, welcome sign, and weather */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 60px 40px;
}

#current-events, #chamber-weather {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  padding-bottom: 15px;
}

#current-events h4 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

#see-more {             /* calendar button  */
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #eaebed;
}

#welcome-sign {
  display: flex;
  align-self: center;
  box-shadow: #054A91 0 3px 10px;
}

.join-now:visited {
  color:black;
}

#forecastContainer {       /* holds forecast info */
  display: flex;
  flex-direction: column;
}

#weather-icon {
  background-color: #c1dbf8;
}

#spotlight-home {            
  display: flex;                      
  justify-content: space-between;      
  align-items: center;               
  width: 90%;                         
  height: 300px;                  
  margin: 0 auto;                      
  padding: 10px;
  overflow: hidden;
              
  
} 
 #member-spotlight {
  text-align:left;
  margin: 0;
  padding: 0;
 }

#modeButton {                        /* darkmode  */
  background:#81A4CD;
  border: none;
  }

#mode {                                    /* darkmode  */
	position: absolute;
	top: 3em;
	right: 1em;
	font-size: 3rem;
	cursor: pointer;
	font-size: 1.5rem;
  background: 0;
}

.dark-mode {                       /* darkmode  */
	background-color: #000;
	color: #fff;
	border-color: #eee; 
}

.navbar {
  color: #ffffff;
  position: relative;
  margin-inline-start: 0;
 
}

.active-nav-item {
  font-weight: bold;
  color:#F17300;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content:flex-end;
  font-size: 1.5rem;
  font-weight: 400;
}

.navbar .nav-toggle {
  display: flex;
}

.navbar a {
  padding: 1rem;
  margin: 0 50px;
  color:#ffffff;
  text-decoration: none;
  display:inline-block;
}

.navbar a:visited {
  color: #FFFFFF;
  font-weight: 600;
}

.navbar a:hover {
  background: #81A4CD;
}

.navbar .hamburger {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  display: none;
}

.navbar .hamburger svg {
  stroke:#F17300;
  background: #fff; 
}

.navbar .hamburger .icon-close {
  display: none;
}
.heading {
  font-size: 1.5rem;
  justify-self: center;
}

.sidebar2  {
  text-align: center;
  font-size: 22px;
  text-shadow: 1px 1px;
 background-color: #c1dbf8;
 padding: 25px;
 margin-left: 25px;
 margin-right: 25px;
}

#sidebar2 {             /*   discover page */
  grid-column: 1/2;
  font-size: 1.2rem;
  border: 2px solid #F17300;
   margin: 2px 10px; 
 }

.card {                               /*   discover page */
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-top: 40px;
}

#card1, #card2, #card3, #card4 {              /*   discover page */               
  padding: 15px;
  margin: 15px;
  text-align: center;
}

h3 {
  display: block;
}


 .list1, .list2, .list3, .list4 {          /* in sidebar */        
  list-style: none;
  text-align: center;
  line-height: 2rem;
  }

.dark-mode .list {
  color: #ffffff;
}

.gallery {              /*   discover page */
  display: flex;
  flex-wrap: wrap;
  padding-left: 12%;
  gap: 40px;
  max-width: 80%;
  margin: auto;
  grid-column: 2/5; 
}


.image-container {
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
}
.image-container img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.image-container p {
  font-size: 1.3rem;
  text-align: center;
  padding-top: 2rem;
}
 
.lazy {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: 0.5s; 
}

.sites {                                 /*   discover page */
  border:2px solid #054A91;
  border-radius: 8px; 
  transition: transform .5s;
  box-shadow: 5px 5px 10px #81A4CD;
}

.sites:hover {
  opacity: .6;
  transform: scale(1.1);
} 

h4  .dark-mode {
  color: #FFFFFF;
}

.visit .dark-mode {
  color: #FFFFFF;
}


.gallery img {
  width: 98%;
  background: #000;
  animation: fade 8s;
}
/*---------------FORM-----------------*/


.main-form {
  display: flex;
  gap: 400px;
}

.join {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.contact {
  margin-left: 260px;
}
.join fieldset {
  display: inline-block;
  flex-direction: column;
  padding-top: 10px;
  margin: 10px;
  background-color: rgb(250, 246, 246);
}

.join legend {
  font-size: larger;
  padding: 0 .5rem;
}

.join input [type="text"],
.join input [type="tel"],
.join textarea {
margin: 5px;
height: 44px;
border-radius: 6px;
font-weight: bolder;
width: 90%;
max-width: 400px;
appearance: none;
font-size: 14px;
padding: 10px;
}

.join label {
  display: block;
  padding-top: 1rem;
  color: #054A91;
}

.join div {
  padding-top: 1rem;
}

input[type="radio"] {
  display: inline-block;
  margin-top: 10px;
  margin-right: 6px;
}

.join #button {
  margin-top: 10px;
  height: 44px;
  border-radius: 6px;
  background-color:#054A91;
  color: #fff;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  padding: 12px;
}
.required {
  color: rgb(219, 13, 13);
}
 .membership {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
 }
 .membership h2 {
  margin-bottom: 10px;
  margin-right: 60px;
  font-size: 1.1rem;
 
 }
 .membership h3 {
  text-align: left;
 }
 .membership h4 {
  margin-left: 20px;
 }

 .membership ul li {
 color:#054A91;
 list-style: square;
 margin-left: 40px;
 font-size: 14px;
 margin-left: 10px;
 
 }

@keyframes fade {
 0% {
  opacity: 0;
 }
 
 100% {
  opacity: 1;
 }
}
.fade-in:nth-child(1) {
  animation-delay: 0.5s; 
}

.fade-in:nth-child(2) {
  animation-delay: 2s; 
}

.fade-in:nth-child(3) {
  animation-delay: 4s; 
}

.fade-in:nth-child(4) {
  animation-delay: 6s; 
}

.fade-in:nth-child(5) {
  animation-delay: 8s; 
}

.fade-in:nth-child(6) {
  animation-delay: 10s; 

}

.fade-in:nth-child(7) {
  animation-delay: 12s; 

}

.fade-in:nth-child(8) {
  animation-delay: 14s; 

}


  

/*------------Directory-------------*/

.directory {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 950px;
	background-color: #fff;
	font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 2px solid #054A91; 
  padding: 5px; 
  border-radius: 5px;
}

h3.mdirectory {
  text-align: center;
}

article h4 {
  font-weight: 700;
  font-style: italic;
  padding-top: .5rem;
  padding-bottom: .5rem;

}

article p  {
  padding-top: .3rem;
  font-weight: 600;
} 

#displayContainer p.websiteURL {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%; 
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color:rgb(152, 204, 249);
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 3px;
	align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color:rgb(152, 204, 249);
}

.grid section {
	text-align: center;
  margin: .6rem;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.address1, .address2, .phone, .websiteURL {
  margin: 0;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; 
}

.list section:nth-child(odd) {
  
}

/*  --- @Media Queries  ---*/
@media screen and (max-width: 600px) {
  .home-page .discover-page {
    display: block;
    width: 100%;
  }
  .main1, .gallery, .list, .card {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .main-form {
    flex-direction: column;
    width: 100%;
  }
  .image-container {
    width: 100%;
    margin-bottom: 20%;
  }
  body {
    font-size: 14px;
  }
  header h1 {
    font-size: 24px;
  }

  .navbar.open ul {
      display:block;
  }

  .navbar.open .nav-toggle {
      display: block;
  }

  .navbar.open a {
      display: block;
  }
  .navbar .nav-toggle {
      display: none;
 } 

 .navbar .hamburger {
    display: block;
 }

 .navbar .hamburger .icon-open {
      display: block; 
 }

 .navbar .hamburger .icon-close {
    display: none;
 }

 .navbar.open .hamburger .icon-open {
    display: none;
 }

 .navbar.open  .hamburger .icon-close {
      display: block;
 } 

 #hero-msg {
  padding: 20px; 
}

#welcome-sign {
  display: none;
}

#current-events {
  max-width: 100%;
}

#chamber-weather {
  max-width: 100%;
}
#discover-container {
  grid-column: 1 / -1;
  gap: 10px;
}
.sidebar {
  grid-column: 1 / -1;
  margin: 10px 0;
  font-size: medium;
}
.sites {
  grid-column: 1 / -1;
  gap: 10px;
}

.contact h2 {
  font-size: 1.5rem;
}

.membership, .join {
  width: 100%;
}
.membership h2 {
  font-size: 1.5rem;
}
.membership h3 {
  font-size: 1.2rem;
}
.membership h4 {
  font-size: 1rem;
} 
.list section {
  grid-template-columns: 1fr;
}
.sidebar2 {
  font-size: 18px;
}
#spotlight-home {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 10px;
}
#member-spotlight {
  text-align: center;
  width: 100%;
}
 .gallery img {
  max-width: 100%;
  flex: 1 1 100%;
 }
 .gallery img:hover {
 opacity: 1;
 transform: none;
 }
 .directory {
  padding: 10px;
 }
}
 

