#content {
    max-width: 1600px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

header {
    background-color: #054A91;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background-color:#81A4CD;
    display: inline-block;
}
#hero {
    display: grid;
    
}
#hero-box {
    grid-column: 1/4;
}

#hero-img {
    grid-column: 1/4;
    grid-row: 1/3;

}

footer {
    background-color: #F17300;
    text-align: center;
    padding-top: 1%;
    padding-top: 1%;
}