
@media screen and (min-width: 1200px) {
   
    body {
        font-size: 18px; 
    }

    header h1 {
        font-size: 48px; 
    }

    .navbar ul {
        font-size: 1.8rem; 
    }

    #hero-msg {
        padding: 30px; 
        font-size: 1.5rem; 
    }

    .main1 {
        grid-template-columns: repeat(4, 1fr); 
    }

    .gallery {
        padding-left: 10%; 
        gap: 30px; 
        max-width: 90%; 
    }

    .card {
        grid-template-columns: 1fr 3fr 3fr; 
    }

    .card img {
        width: 100%; 
    }

    .sidebar2 {
        font-size: 24px; 
        padding: 35px; 
    }

   /* .join input[type="text"],
    .join input[type="tel"],
    .join textarea {
        width: 80%; 
    }

    .main-form {
        gap: 50px; 
    } */

    .membership h2 {
        font-size: 2rem; 
    }

    
    .list section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }

    .image-container {
        flex: 0 1 calc(33.33% - 20px); 
    }

    #spotlight-home {
        height: 350px; 
    }

    
    .directory {
        padding: 2rem; 
    }
    .main-form {
        display: flex;
        gap: 400px;
      }
      
      .join {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
      }
      
      .contact {
        margin-left: 260px;
      }
      
      /* Join page styling */
      .join fieldset {
        display: inline-block;
        flex-direction: column;
        color: #054A91;
        padding-top: 10px;
        margin: 10px;
        background-color: rgb(250, 246, 246);
      }
      
      .join legend {
        font-size: larger;
        padding: 0 .5rem;
      }
      
      .join input[type="text"],
      .join input[type="tel"],
      .join textarea {
        margin: 5px;
        height: 44px;
        border-radius: 6px;
        font-weight: bolder;
        width: 90%;
        max-width: 400px;
        appearance: none;
      }
      
      .join label {
        display: block;
        padding-top: 1rem;
        color: #054A91;
      }
      
      .join div {
        padding-top: 1rem;
      }
      
      input[type="radio"] {
        display: inline-block;
        margin-top: 10px;
        margin-right: 6px;
      }
      
      .join #button {
        margin-top: 10px;
        height: 44px;
        border-radius: 6px;
        background-color: #054A91;
        color: #fff;
        width: 100%;
        max-width: 400px;
      }
      
      .required {
        color: rgb(219, 13, 13);
      }
      
      .membership {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
      }
      
      .membership h2 {
        margin-bottom: 20px;
        margin-right: 60px;
      }
      
      .membership h3 {
        text-align: left;
      }
      
      .membership h4 {
        margin-left: 20px;
      }
      
      .membership ul, li {
        color: #054A91;
        list-style: square;
        margin-left: 40px;
      }
      
}
