/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}

body {
    max-width: 1600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 700px;
    background-color: white;
    padding: .5rem;
    margin: 5px;
    
}

.container {
    display: flex;
    justify-content: center;
} 
.main-element {
    display: horizontal;
   
}


header {
    background-color: #219ebc;
    display: flex;
    align-items: center;
    max-height: fit-content;
}

img {
    width: 100px;
    border-radius: 10px;
    opacity: 95%;
    margin-left: 100px;
    margin-top: 20px;
    padding-bottom: 10px;   
}

h1 {
    display: flex;
    font-size: 35px;
    color: black;
    padding-left: 40px;
}

#card1 {
    grid-row: 2;
}

#card2 {
    grid-row: 3;

}

ul {
    list-style-type: none;
}

.card {
    display: grid;
    border: 1px solid;
    margin: 10px auto;
}

#navlist {
    background-color: black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
nav a{   
    padding: 20px;
   font-size: 25px;
   color: white;
}

.list {
    list-style: none;
}

h2, h3 {
    text-align: center;
}

h3 { 
    background-color: #219ebc;
    height: 50px;
}

footer {
    background-color: #219ebc;
    height: 150px;
}

footer p {
    text-align: center;
    color: black;
    padding: 10px;
}