@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


body {
    background-color: white;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
}

header {
    background-color: #219ebc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
}

img {
    width: 100px;
    height: 99px;
    border-radius: 10px;
    opacity: .95;
    margin-left: 100px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.hero img {
   width: 100%;
   height: auto;
   margin: 0;
   border-radius: 0%;
   display: inline-block;
   position: relative;
}

.hero {
    position: relative;
}

.overlay-text {
   position: absolute;
   top: 20px;
   left: 20px;
   color: #ffffff;
   font-size: larger;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}

h1 {
    display: flex;
    font-size: 35px;
    color: black;
    padding-left: 40px;
}
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
 #card1 {
    grid-column: 1/4;
    border: 1px solid;
    margin: 10px;
 }

 #card2 {
    grid-column: 4/5;
    border: 1px solid;
    margin: 10px;
 }

 .label {
   padding-top: 1rem;
   padding-left: 2rem;
 }
ul {
    list-style-type: none;
}

.navbar {
    background: lightblue;
    color: black;
    font-weight: 700; 
  }

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar .nav-toggle {
    display: flex;
}

.navbar a {
    padding: 1em;
    color:black; 
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background: #ffffff;
}

.navbar .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    display: none;
}

.navbar .hamburger svg {
  stroke:chartreuse;
}

.navbar .hamburger .icon-close {
    display: none;
} 

@media screen and (max-width: 650px) {
    .navbar.open ul {
        display:block;
    }

    .navbar.open .nav-toggle {
        display: block;
    }

    .navbar.open a {
        display: block;
    }
    .navbar .nav-toggle {
        display: none;
   } 

   .navbar .hamburger {
    display: block;
   }


   .navbar .hamburger .icon-open {
        display: block; 
   }

   .navbar .hamburger .icon-close {
    display: none;
   }

   .navbar.open .hamburger .icon-open {
    display: none;
   }

   .navbar.open  .hamburger .icon-close {
        display: block;
   }
   .container {
    grid-template-columns: 1fr;
}

#card1, #card2 {
    grid-column: 1 / -1;
    margin: 10px auto;
}
}

h2, h3 {
    text-align: center;
}

h3 { 
    background-color: #219ebc;
    height: 50px;
    margin: 0;
    padding-top: 1em;
}


.mapcontainer {
    width: 100%
}
iframe {
    width: 100%;
}

footer {
    background-color: #219ebc;
    height: 150px;
}

footer p {
    text-align: center;
    color: black;
    padding: 10px;
    font-weight: bold;
}


