@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
.root input:invalid {
    background-color: #fdd; 
}

.root fieldset {
    border: 3px solid #219ebc; 
    padding: 10px;
    margin-bottom: 10px;
}

.root input:focus {
    border: 2px solid #4ca2af; 
    background-color: #f0f8ff; 
    outline: none;
    box-shadow: 0 0 5px #4ca2af; 
}


.form  {
    display: inline-block;
    padding-top: 10px;
    margin: 10px;

} 

#username, #password, #repeat, #email, #rating {
    display: block;
    margin: 5px;
}

#rating {
	width: 400px;
    margin-top: 10px;
	margin-bottom: 0;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 380px;
                                   
}

#rangevalues option {
	flex: 1 1 auto;
}

#button {
    margin-top: 10px;
}

fieldset p {
    font-weight: 500;
}
.required {
    color: red; 
}

legend {
    color: #219ebc;
    font-size: 1.5rem;
}

