@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
.root input:invalid {
    background-color: #fdd;  /* You could also change the background color */
}

.root fieldset {
    border: 1px solid #ccc; /* Fieldset styling, just an example */
    padding: 10px;
    margin-bottom: 10px;
}

.form  {
    display: inline-block;
    padding-top: 10px;
    margin: 10px;

} 

#username, #password, #repeat, #email, #rating {
    display:block;
    margin: 5px;
}

#rating {
	width: 400px;
    margin-top: 10px;
	margin-bottom: 0;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 380px;
                                   
}

#rangevalues option {
	flex: 1 1 auto;
}

#button {
    margin-top: 10px;
}

