@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
:root input:invalid {
    background-color: #fdd; 
}

:root fieldset {
    border: 3px solid #219ebc; 
    padding: 10px;
    margin-bottom: 10px;
}

:root input:focus {
    border: 2px solid #4ca2af; 
    background-color: #f0f8ff; 
    outline: none;
    box-shadow: 0 0 5px #4ca2af; 
}

.form  {
    display: inline-block;
    padding-top: 10px;
    margin: 10px;
} 

#username, #password, #repeat, #email, #rating {
    display: block;
    margin: 5px;
    height: 44px;
    border-radius: 6px;
    font-weight: bolder;
}

#rating {
	width: 100%;
    margin-top: 10px;
	margin-bottom: 10px;
    background: #219ebc;
    border-radius: 5px;
    height: 8px;
}

#rating::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #219ebc;  /* Color of the thumb */
    border-radius: 50%;
    cursor: pointer;

} 

#rangevalue {
	font-weight: bold; 
    color:#219ebc;
    font-size: 1.2rem;
    margin-top: 5px;              
}

#rangevalues option {
	flex: 1 1 auto;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #219ebc;
}

.range-labels span {
    flex: 1;
    text-align: center;
}

#button {
    margin-top: 10px;
    height: 44px;
    border-radius: 6px;
    background-color: #f0f8ff;
}

fieldset p {
    font-weight: 500;
}
.required {
    color: rgb(219, 13, 13); 
}

legend {
    color: #219ebc;
    font-size: 1.5rem;
}

